polling/new-calculator-api/src/main/mule/newcalculator-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <http:listener-config name="newcalculator-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="8081" />
    </http:listener-config>
    <apikit:config name="newcalculator-api-config" api="newcalculator-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="newcalculator-api-main">
        <http:listener config-ref="newcalculator-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="newcalculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="newcalculator-api-console">
        <http:listener config-ref="newcalculator-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="newcalculator-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\addition:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  results: attributes.queryParams.number1 + attributes.queryParams.number2  
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="number1" doc:name="Set Variable" doc:id="6f8d06a2-8bfe-49ff-9346-176ed95183d4" variableName="number1"/>
		<set-variable value="number2" doc:name="Set Variable" doc:id="7ebb1be3-3b26-4aed-904a-0e385d6336b5" variableName="number2"/>
		<choice doc:name="Choice" doc:id="65d5602f-cfa0-4060-9c4d-f760130500f2" >
			<when expression='#[vars.operations=="addition"]'>
				<logger level="INFO" doc:name="Logger" doc:id="59ee986b-c03c-43e2-9d76-475e7f0d2f95" message="#[paylaod]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="96658df0-a884-481c-a239-cab6a2c3c9f0" message="default"/>
			</otherwise>
		</choice>
    </flow>
	<flow name="put:\division:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="df39354b-fb70-4f0c-8eb7-ba16ec0e3aeb" />
		<set-variable value="" doc:name="Set Variable" doc:id="6c13eff0-dbfa-41ab-97d5-31c4da37d17c" />
		<choice doc:name="Choice" doc:id="52451fa2-6d29-4e96-b0d5-7913b85615f4" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="6f2e583a-b8ab-4820-b68d-d26323083c23" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="86eaacbe-6889-461a-9c70-c98ca9ebc7ee" />
			</otherwise>
		</choice>
    </flow>
    <flow name="put:\multiplication:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "10"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="a8238fdd-e142-4102-a01b-adf7b0e9e209" />
		<set-variable value="" doc:name="Set Variable" doc:id="fdfa2842-b9b4-4141-a868-ecf799b03982" />
		<choice doc:name="Choice" doc:id="c93831fa-9385-41c4-b8b2-16944aa23ee3" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="30f7deba-d163-4e95-8c40-b43ef6056e31" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="4229b991-52ca-4c66-9b5f-9a35df9ff924" />
			</otherwise>
		</choice>
    </flow>
    <flow name="put:\subtraction:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="faafd556-2d85-4c7f-89e8-e19360a0edf2" />
		<set-variable value="" doc:name="Set Variable" doc:id="f040cadb-ff8a-408b-8a8b-1696aa808e7e" />
		<choice doc:name="Choice" doc:id="43688e00-cf4a-4a9c-834a-cbfb41fe85eb" >
			<when />
		</choice>
    </flow>
    <flow name="delete:\addition:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  results: "20"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="28ffbd62-ad8c-4ae9-985c-687f21370e52" />
		<set-variable value="" doc:name="Set Variable" doc:id="3b4dfede-3082-4088-a8ac-1c7695e6c7df" />
		<choice doc:name="Choice" doc:id="d29d3235-b209-4a2d-8683-eec326f7cf6a" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="ece8d4df-7c33-45a5-928c-7ffcc5ebf07c" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="a70ec577-7864-4b7f-aebd-13c8a7d3afa9" />
			</otherwise>
		</choice>
    </flow>
    <flow name="delete:\division:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="fb611e44-c243-49dc-8bc4-7864277e9b1f" />
		<set-variable value="" doc:name="Set Variable" doc:id="14e96608-5c0f-463c-ab19-007772ea28e5" />
		<choice doc:name="Choice" doc:id="10013448-f778-4d48-ab87-25e08bbc4b57" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="745346a3-418f-4611-9b68-bd16b30dd48e" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="88319b76-c3c2-400f-8ac9-0c892bbff488" />
			</otherwise>
		</choice>
    </flow>
    <flow name="delete:\multiplication:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "10"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="cbaa39d4-0c64-41cf-a8ce-68559308c02d" />
		<set-variable value="" doc:name="Set Variable" doc:id="15748900-480d-4f18-9f07-9c6790cc1a0d" />
		<choice doc:name="Choice" doc:id="17e32d96-dd5a-48c2-b884-8ef4ba796582" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="9f919e19-a237-4173-a386-fc06398cdbe5" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="f5d7ece9-89bb-42bf-856e-303eb3b16024" />
			</otherwise>
		</choice>
    </flow>
    <flow name="delete:\subtraction:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="d113546f-fb37-42e4-9141-4827bee720c4" />
		<set-variable value="" doc:name="Set Variable" doc:id="9873b029-2699-4564-81eb-be57c5e13ffe" />
		<choice doc:name="Choice" doc:id="ba6f47cf-6859-4159-bbed-e4f259fd7b7f" >
			<when >
				<logger level="INFO" doc:name="Logger" doc:id="d46b3b24-7e3b-4a12-b204-dab69689f9c9" />
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="2521f7cf-bfbe-4fc2-a12b-f75cfa5fead7" />
			</otherwise>
		</choice>
    </flow>
    <flow name="patch:\addition:newcalculator-api-config">
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  results: "20"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="baea043f-4e6e-4c74-916f-304b84e7b1e0" />
		<set-variable value="" doc:name="Set Variable" doc:id="420dae67-d0c7-4c3b-a808-38e55260c018" />
    </flow>
    <flow name="patch:\division:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="84c7640c-812c-4482-b23f-5b3b936e1251" />
    </flow>
    <flow name="patch:\multiplication:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "10"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="012e7c56-053d-4b01-aa7e-8546323fccbb" />
		<set-variable value="" doc:name="Set Variable" doc:id="6e7af27f-2bf6-4cff-93d8-ff744f906164" />
    </flow>
    <flow name="patch:\subtraction:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="1267d361-dabf-4174-8873-54a92577c995" />
		<set-variable value="" doc:name="Set Variable" doc:id="ab7d23d9-1dcb-43db-bece-650794d8ed36" />
    </flow>
	<flow name="get:\addition:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "results" : attributes.queryParams.number1 + attributes.queryParams.number2
  }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[attributes.queryparams.number1]" doc:name="Set Variable" doc:id="9f1b281a-ee81-4315-bc15-dd8d1fbee089" variableName="number1" />
		<set-variable value="#[attributes.queryparams.number2]" doc:name="Set Variable" doc:id="3d22c38f-4082-4414-82c7-b44686eb5cde" variableName="number2"/>
		<choice doc:name="Choice" doc:id="b7d45f48-19f4-4761-814b-86672d0243d3" >
			<when expression='#[vars.operation=="addition"]'>
				<logger level="INFO" doc:name="Logger" doc:id="7a416b01-d668-411c-9b91-3d3faa5f8cf9" message="#[payload]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="63bbe5d9-d0ae-4ad4-a223-b8641429b8a1" message="default message"/>
			</otherwise>
		</choice>
    </flow>
    <flow name="get:\division:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---

  {
  "results" : attributes.queryParams.number1 + attributes.queryParams.number2
  }
]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="c5853a3f-42fc-4270-96e6-4a2c95d875ad" />
		<set-variable value="" doc:name="Set Variable" doc:id="b89a13ea-9834-4522-8dce-aecf586b80f2" />
    </flow>
    <flow name="get:\multiplication:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "10"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="4947f692-3eea-4b3f-9e3c-24de9ae6ed57" />
		<set-variable value="" doc:name="Set Variable" doc:id="8ec23547-c3e4-43e9-8f68-8a8c6116d5ba" />
    </flow>
    <flow name="get:\subtraction:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="11a17ed2-d3d4-498b-92bf-0d389d78698c" />
		<set-variable value="" doc:name="Set Variable" doc:id="ac369bbc-4abb-4292-801e-416c06e0391c" />
    </flow>
    <flow name="post:\addition:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  results: "20"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="3bf39b02-34e7-4347-a548-b911d3814ed1" />
		<set-variable value="" doc:name="Set Variable" doc:id="39ceda52-fc18-4d05-a2b9-0c7bb0186b8b" />
    </flow>
    <flow name="post:\division:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="9280f80e-9996-4afb-be29-a9c8b73768a1" />
		<set-variable value="" doc:name="Set Variable" doc:id="3aaea028-4ec3-4496-9b43-d99a6047d30c" />
    </flow>
    <flow name="post:\multiplication:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "10"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="fb306eb3-8485-4f47-9789-fa7988fd6468" />
		<set-variable value="" doc:name="Set Variable" doc:id="f71a6f9f-4c85-46ea-98d0-c4a93ef755ec" />
    </flow>
    <flow name="post:\subtraction:newcalculator-api-config">
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  result: "5"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="" doc:name="Set Variable" doc:id="6e7c4922-7c9c-475d-9efd-b52b41eb2306" />
		<set-variable value="" doc:name="Set Variable" doc:id="ec40e4c2-7c40-4e64-ac58-2ef30f25f8ef" />
    </flow>
</mule>
